.grid {
  display: grid;
  height: 100%; /* The height of this grid space would be 100% of the container within which it is present */
  align-content: center; /*Align the grid content in center vertically */
  justify-content: center; /*Align the grid content in center horizontally */
  gap: 30px;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
